# Archivos y carpetas generadas por el build
/bin/
/obj/
*.elf
*.bin
*.map
*.hex

# Archivos temporales y de backup
*~
*.swp
.DS_Store

# VS Code (si no querés subir configs específicas)
# .vscode/

# Archivos de log y debug
*.log
